/*Layout placeholders*/


.header	{
	border-bottom: 3px solid black;
	text-align: center;
	background-color: #B3B3B3;
	margin-top: 5%;
}
.header p {
	font-size: 500%;
	padding-top: 1%;
	font-family: 'Poiret One', cursive;
}

.body {
	background-color: #E0E0E0;
 }


h1 {
	font-family: 'Poiret One';
	font-weight: bolder;
}

h2 {
	font-size: 350%;
	padding-bottom: 1%;
	font-family: 'Poiret One', cursive;
}

}
.left {
	text-align: center;
	padding: 5% 0 25% 0;

}

.mid {
	text-align: center;
	margin: 0 auto;
	padding: 5% 0 5% 0;
	display: block;
}

.left-col {
	text-align: right;
}

.right-col {
	text-align: left;
}

.right {
	text-align: center;
	padding: 5% 0 25% 0;
}


button {
	margin:0 3px 3px 3px;
	width: 55px;
	height: 55px;
	color: #000000;
	font-size: 90%;
	/*background-image: url("button-default.png");*/
	background-size: 100%;
	background-repeat: no-repeat;
	padding-right: 3px;
	padding-bottom: 3px;
	color
}

input {
	margin-top: 5%
}
